<div class="container">
  <h1 class="mat-h3">
    Prueba de Conocimiento Desarrollo Automatiza Soluciones
  </h1>
  <h2 class="mat-h5">
    Gestión de inscripciones
  </h2>

  <p>
    <mat-toolbar>
      <button mat-stroked-button [routerLink]="['student']" [routerLinkActive]="['mat-raised-button']">Estudiantes</button>
      <button mat-stroked-button [routerLink]="['subject']" [routerLinkActive]="['mat-raised-button']">Materias</button>
      <button mat-stroked-button [routerLink]="['inscription']" [routerLinkActive]="['mat-raised-button']">Inscripciones</button>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>
</div>
